# Ignore PDF and DOCX files in specific directories
Computer Networking - Nguyen Tran Hieu/Chapter 1/*.pdf
Computer Networking - Nguyen Tran Hieu/Chapter 2/*.pdf
Computer Networking - Nguyen Tran Hieu/Chapter 1/Practice/*.pdf
Computer Networking - Nguyen Tran Hieu/Chapter 2/Practice/*.pdf
Computer Networking - Nguyen Tran Hieu/Chapter 2/Practice/SelfStudy/*.pdf
Computer Networking - Nguyen Tran Hieu/Chapter 2/Practice/SelfStudy/._NguyTheQuang_211212120.pkt
Computer Networking - Nguyen Tran Hieu/Chapter 1/Practice/._NguyTheQuang_211212120.pkt
Visual Programming - Cao Thi Luyen/*.pdf
Visual Programming - Cao Thi Luyen/*.docx
# Ignore some folder of visual studio
Visual Programming - Cao Thi Luyen/BaiTapWinformCoBan/.vs
Visual Programming - Cao Thi Luyen/BaiTapWinformCoBan/bin/Debug/
